dev-bucket01/flow01.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 MB",
      "backPressureObjectThreshold" : 100,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "88852e2f-ed15-3582-8e51-304f665e591b",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "d42b1602-251c-3dad-a498-1147bac5dd43",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "09aed4da-d65d-3ba5-8ec5-c640a5d3e2f6",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "069a91e7-24a9-339a-ba93-fa1204402a01",
        "name" : "PutKafka",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "f13b72d1-b8b5-3239-8354-020ae1bb1cdd",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "88852e2f-ed15-3582-8e51-304f665e591b",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "funnels" : [ ],
    "identifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "dev-random-generate",
    "outputPorts" : [ ],
    "position" : {
      "x" : 439.0,
      "y" : 74.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "2dd9f92c-4ca2-3e66-81ed-a24df5f64e9e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "e16cd05c-5348-38ea-9584-e48562768747",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "c7f63387-e45b-3729-ba38-bb48cfef777d",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "4b1c0bf1-d969-343a-8c9f-c12445047012",
          "name" : "PutKafka",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "302d98e9-1511-3da6-b2f9-a685468f7fe3",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "2dd9f92c-4ca2-3e66-81ed-a24df5f64e9e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
      "inputPorts" : [ ],
      "labels" : [ ],
      "name" : "internal01",
      "outputPorts" : [ ],
      "position" : {
        "x" : 248.25326538085938,
        "y" : 405.50914001464844
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-0-8-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "4b1c0bf1-d969-343a-8c9f-c12445047012",
        "name" : "PutKafka",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 587.2333374023438,
          "y" : 351.5
        },
        "properties" : {
          "Max Record Size" : "1 MB",
          "Compression Codec" : "none",
          "Delivery Guarantee" : "0",
          "Max Buffer Size" : "5 MB",
          "Communications Timeout" : "30 secs",
          "Async Batch Size" : "16384"
        },
        "propertyDescriptors" : {
          "Partition" : {
            "displayName" : "Partition",
            "identifiesControllerService" : false,
            "name" : "Partition",
            "sensitive" : false
          },
          "Max Record Size" : {
            "displayName" : "Max Record Size",
            "identifiesControllerService" : false,
            "name" : "Max Record Size",
            "sensitive" : false
          },
          "Client Name" : {
            "displayName" : "Client Name",
            "identifiesControllerService" : false,
            "name" : "Client Name",
            "sensitive" : false
          },
          "Compression Codec" : {
            "displayName" : "Compression Codec",
            "identifiesControllerService" : false,
            "name" : "Compression Codec",
            "sensitive" : false
          },
          "Message Delimiter" : {
            "displayName" : "Message Delimiter",
            "identifiesControllerService" : false,
            "name" : "Message Delimiter",
            "sensitive" : false
          },
          "Topic Name" : {
            "displayName" : "Topic Name",
            "identifiesControllerService" : false,
            "name" : "Topic Name",
            "sensitive" : false
          },
          "Kafka Key" : {
            "displayName" : "Kafka Key",
            "identifiesControllerService" : false,
            "name" : "Kafka Key",
            "sensitive" : false
          },
          "Delivery Guarantee" : {
            "displayName" : "Delivery Guarantee",
            "identifiesControllerService" : false,
            "name" : "Delivery Guarantee",
            "sensitive" : false
          },
          "Max Buffer Size" : {
            "displayName" : "Max Buffer Size",
            "identifiesControllerService" : false,
            "name" : "Max Buffer Size",
            "sensitive" : false
          },
          "Queue Buffering Max Time" : {
            "displayName" : "Queue Buffering Max Time",
            "identifiesControllerService" : false,
            "name" : "Queue Buffering Max Time",
            "sensitive" : false
          },
          "Communications Timeout" : {
            "displayName" : "Communications Timeout",
            "identifiesControllerService" : false,
            "name" : "Communications Timeout",
            "sensitive" : false
          },
          "Known Brokers" : {
            "displayName" : "Known Brokers",
            "identifiesControllerService" : false,
            "name" : "Known Brokers",
            "sensitive" : false
          },
          "Async Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Async Batch Size",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.kafka.PutKafka",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "c7f63387-e45b-3729-ba38-bb48cfef777d",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 172.0,
          "y" : -154.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "10B",
          "generate-ff-custom-text" : "${text}",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "1 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "2dd9f92c-4ca2-3e66-81ed-a24df5f64e9e",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 536.9999694824219,
          "y" : 105.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-0-8-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "069a91e7-24a9-339a-ba93-fa1204402a01",
      "name" : "PutKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 827.9666748046875,
        "y" : 507.5
      },
      "properties" : {
        "Max Record Size" : "1 MB",
        "Compression Codec" : "none",
        "Delivery Guarantee" : "0",
        "Max Buffer Size" : "5 MB",
        "Communications Timeout" : "30 secs",
        "Async Batch Size" : "16384"
      },
      "propertyDescriptors" : {
        "Partition" : {
          "displayName" : "Partition",
          "identifiesControllerService" : false,
          "name" : "Partition",
          "sensitive" : false
        },
        "Max Record Size" : {
          "displayName" : "Max Record Size",
          "identifiesControllerService" : false,
          "name" : "Max Record Size",
          "sensitive" : false
        },
        "Client Name" : {
          "displayName" : "Client Name",
          "identifiesControllerService" : false,
          "name" : "Client Name",
          "sensitive" : false
        },
        "Compression Codec" : {
          "displayName" : "Compression Codec",
          "identifiesControllerService" : false,
          "name" : "Compression Codec",
          "sensitive" : false
        },
        "Message Delimiter" : {
          "displayName" : "Message Delimiter",
          "identifiesControllerService" : false,
          "name" : "Message Delimiter",
          "sensitive" : false
        },
        "Topic Name" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "Topic Name",
          "sensitive" : false
        },
        "Kafka Key" : {
          "displayName" : "Kafka Key",
          "identifiesControllerService" : false,
          "name" : "Kafka Key",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Max Buffer Size" : {
          "displayName" : "Max Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Max Buffer Size",
          "sensitive" : false
        },
        "Queue Buffering Max Time" : {
          "displayName" : "Queue Buffering Max Time",
          "identifiesControllerService" : false,
          "name" : "Queue Buffering Max Time",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Known Brokers" : {
          "displayName" : "Known Brokers",
          "identifiesControllerService" : false,
          "name" : "Known Brokers",
          "sensitive" : false
        },
        "Async Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Async Batch Size",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.PutKafka",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "88852e2f-ed15-3582-8e51-304f665e591b",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 388.0,
        "y" : 246.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "09aed4da-d65d-3ba5-8ec5-c640a5d3e2f6",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 721.0,
        "y" : -17.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "10B",
        "generate-ff-custom-text" : "${text}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "test" : "test123",
      "text" : "\"This is a variable with datatype string\""
    }
  }
}