dev-bucket01/flow02.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 MB",
      "backPressureObjectThreshold" : 100,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "146a643c-5106-3b53-b358-9198e3dad60e",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "cbf93e5e-fee3-3113-a338-99f6c12f26ed",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "6f224f5b-cdc0-38ba-80ce-981fc17021c4",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "e251409a-85e1-34cb-99c8-871449771ebe",
        "name" : "PutKafka",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "6be8922e-41a1-35d8-9a4e-e368a5ac6357",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
        "id" : "146a643c-5106-3b53-b358-9198e3dad60e",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "funnels" : [ ],
    "identifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "dev-random-generate",
    "outputPorts" : [ ],
    "position" : {
      "x" : 439.0,
      "y" : 74.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
          "id" : "8377e530-a54e-38f6-98ce-52d633dceffc",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
        "identifier" : "5769c5a0-7371-3f96-b506-ae20d4d2ad10",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
          "id" : "ffb33abd-10f1-36f1-9708-00b54a319418",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
      "inputPorts" : [ ],
      "labels" : [ ],
      "name" : "internal01",
      "outputPorts" : [ ],
      "position" : {
        "x" : 248.25326538085938,
        "y" : 405.50914001464844
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
        "identifier" : "ffb33abd-10f1-36f1-9708-00b54a319418",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 172.0,
          "y" : -154.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "10B",
          "generate-ff-custom-text" : "${text}",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "1 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "61563168-a71b-3ebb-a3cb-0db7a743b5a5",
        "identifier" : "8377e530-a54e-38f6-98ce-52d633dceffc",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 536.9999694824219,
          "y" : 105.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "6f224f5b-cdc0-38ba-80ce-981fc17021c4",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 721.0,
        "y" : -17.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "10B",
        "generate-ff-custom-text" : "${text}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "146a643c-5106-3b53-b358-9198e3dad60e",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 388.0,
        "y" : 246.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-0-8-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "1c4856f4-12ad-3bc9-9183-74db44448c94",
      "identifier" : "e251409a-85e1-34cb-99c8-871449771ebe",
      "name" : "PutKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 827.9666748046875,
        "y" : 507.5
      },
      "properties" : {
        "Max Record Size" : "1 MB",
        "Compression Codec" : "none",
        "Delivery Guarantee" : "0",
        "Max Buffer Size" : "5 MB",
        "Communications Timeout" : "30 secs",
        "Async Batch Size" : "16384"
      },
      "propertyDescriptors" : {
        "Partition" : {
          "displayName" : "Partition",
          "identifiesControllerService" : false,
          "name" : "Partition",
          "sensitive" : false
        },
        "Max Record Size" : {
          "displayName" : "Max Record Size",
          "identifiesControllerService" : false,
          "name" : "Max Record Size",
          "sensitive" : false
        },
        "Client Name" : {
          "displayName" : "Client Name",
          "identifiesControllerService" : false,
          "name" : "Client Name",
          "sensitive" : false
        },
        "Compression Codec" : {
          "displayName" : "Compression Codec",
          "identifiesControllerService" : false,
          "name" : "Compression Codec",
          "sensitive" : false
        },
        "Message Delimiter" : {
          "displayName" : "Message Delimiter",
          "identifiesControllerService" : false,
          "name" : "Message Delimiter",
          "sensitive" : false
        },
        "Topic Name" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "Topic Name",
          "sensitive" : false
        },
        "Kafka Key" : {
          "displayName" : "Kafka Key",
          "identifiesControllerService" : false,
          "name" : "Kafka Key",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Max Buffer Size" : {
          "displayName" : "Max Buffer Size",
          "identifiesControllerService" : false,
          "name" : "Max Buffer Size",
          "sensitive" : false
        },
        "Queue Buffering Max Time" : {
          "displayName" : "Queue Buffering Max Time",
          "identifiesControllerService" : false,
          "name" : "Queue Buffering Max Time",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Known Brokers" : {
          "displayName" : "Known Brokers",
          "identifiesControllerService" : false,
          "name" : "Known Brokers",
          "sensitive" : false
        },
        "Async Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Async Batch Size",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.PutKafka",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "test" : "test123",
      "text" : "\"This is a variable with datatype string\""
    }
  }
}