dev-test-bucket01/flow01.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 MB",
      "backPressureObjectThreshold" : 100,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
        "id" : "88852e2f-ed15-3582-8e51-304f665e591b",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
      "identifier" : "d42b1602-251c-3dad-a498-1147bac5dd43",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
        "id" : "09aed4da-d65d-3ba5-8ec5-c640a5d3e2f6",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "funnels" : [ ],
    "identifier" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "dev-random-generate",
    "outputPorts" : [ ],
    "position" : {
      "x" : 1210.0,
      "y" : 137.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "2dd9f92c-4ca2-3e66-81ed-a24df5f64e9e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "e16cd05c-5348-38ea-9584-e48562768747",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
          "id" : "c7f63387-e45b-3729-ba38-bb48cfef777d",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "funnels" : [ ],
      "groupIdentifier" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
      "identifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
      "inputPorts" : [ ],
      "labels" : [ ],
      "name" : "internal01",
      "outputPorts" : [ ],
      "position" : {
        "x" : 134.25326538085938,
        "y" : 405.50914001464844
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "c7f63387-e45b-3729-ba38-bb48cfef777d",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 23.0,
          "y" : -141.0
        },
        "properties" : {
          "Batch Size" : "1",
          "Data Format" : "Text",
          "File Size" : "10B",
          "Unique FlowFiles" : "false",
          "character-set" : "UTF-8",
          "generate-ff-custom-text" : "${text}"
        },
        "propertyDescriptors" : {
          "Batch Size" : {
            "displayName" : "Batch Size",
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "1 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3007ad1d-af79-36a6-8237-20c62685f5fa",
        "identifier" : "2dd9f92c-4ca2-3e66-81ed-a24df5f64e9e",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 256.9999694824219,
          "y" : 80.0
        },
        "properties" : {
          "Log Level" : "info",
          "Log Payload" : "false",
          "attributes-to-log-regex" : ".*",
          "character-set" : "UTF-8"
        },
        "propertyDescriptors" : {
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          },
          "Log prefix" : {
            "displayName" : "Log prefix",
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          }
        },
        "runDurationMillis" : 0,
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "variables" : { }
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
      "identifier" : "88852e2f-ed15-3582-8e51-304f665e591b",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 392.0,
        "y" : 237.0
      },
      "properties" : {
        "Log Level" : "info",
        "Log Payload" : "false",
        "attributes-to-log-regex" : ".*",
        "character-set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log prefix" : {
          "displayName" : "Log prefix",
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "6020af12-1ece-3f0f-99b6-86f9a8cb8720",
      "identifier" : "09aed4da-d65d-3ba5-8ec5-c640a5d3e2f6",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 73.0,
        "y" : -14.0
      },
      "properties" : {
        "Batch Size" : "1",
        "Data Format" : "Text",
        "File Size" : "10B",
        "Unique FlowFiles" : "false",
        "character-set" : "UTF-8",
        "generate-ff-custom-text" : "${text}"
      },
      "propertyDescriptors" : {
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "1 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "test" : "test123",
      "text" : "\"This is a variable with datatype string\""
    }
  }
}